.signup-screen {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #653719;
}

.logo-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.logo-login-space {
  display: flex;
  margin-bottom: 30px;
}

.instaxLogoSignup {
  width: 350px;
  height: 70px;
  margin: auto;
  justify-content: center;
}

.center-divide-signup {
  height: 255px;
  background-color: #111111;
  width: 1px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.signup-main {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.signup-form {
  width: 300px;
}

.signup-form-button {
  width: 100%;
  background: #45230c;
  box-shadow: none;
  transition: background 0.3s ease;
}

.signup-form-button:hover {
  background: #ceb035 !important;
}

.signup-form-button > span {
  color: #fff;
  transition: color 0.3s ease;
}

.signup-form-button:hover > span {
  color: #45230c;
}
